@font-face {
  font-family: 'FiraSans';
  src: url('assets/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('assets/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('assets/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'FiraSans', sans-serif;
  font-weight: normal;
  background-color: #282828;
  /* Gruvbox Dark background */
  color: #ebdbb2;
  /* Gruvbox Dark text */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

@media (min-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

h1 {
  font-family: 'FiraSans', sans-serif;
  font-weight: 600;
  color: #fb4934;
  /* Gruvbox Dark red */
}

h2 {
  font-family: 'FiraSans', sans-serif;
  color: #d65d0e;
}

h3 {
  color: #fe8019;
}

h2.download {
  color: #ebdbb2;
  /* Gruvbox Dark text */
}

a {
  color: #b8bb26;
  /* Gruvbox Dark green */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #3c3836;
  /* Gruvbox Dark dark gray */
  padding: 10px;
  text-align: left;
}

th {
  background-color: #504945;
  /* Gruvbox Dark darker gray */
  color: #ebdbb2;
  /* Gruvbox Dark text */
}

img {
  max-width: 90%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #3c3836;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* rgba для мягче тени */
}

.img_container {
  max-width: 1600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* auto-fit для адаптивности */
  grid-gap: 10px;
  box-sizing: border-box;
}

img.screenshot {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #3c3836;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
  object-fit: contain;
}

img.screenshot.enlarged {
  max-width: 130%;
  height: auto;
  margin: 20px auto;
  margin-bottom: 20px;
  border: 1px solid #3c3836;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
  object-fit: contain;
}

img.rounded-img {
  border-radius: 10px;
}

nav {
  background-color: #3c3836;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* Тень для выделения */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #ebdbb2;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  background-color: #3c3836;
  /* Gruvbox Dark dark gray */
  color: #ebdbb2;
  /* Gruvbox Dark text */
}

footer a {
  margin: 0 10px;
}

.enlarged {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  margin-top: 5px;
  text-align: center;
  font-size: 0.9em;
  color: #a89984;
}

.download-container {
  max-width: 800px;
  text-align: center;
  padding: 20px;
  background-color: #3c3836;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #ebdbb2;
  margin: 50px auto;
  flex: 0 0 auto;
  font-family: 'FiraSans', sans-serif;
}

.download-button {
  font-family: 'FiraSans', sans-serif;
  display: inline-block;
  padding: 15px 30px;
  margin: 20px 0;
  background-color: #458588;
  color: #282828;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  text-decoration: none;
  width: 250px;
  /*  Устанавливаем фиксированную ширину */
  text-align: center;
  /* Центрируем текст внутри кнопки */
}

.download-button:hover {
  background-color: #83a598;
  text-decoration: none;
}

.alternative-downloads {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #ebdbb2;
}

.alternative-download {
  text-decoration: none;
  margin-right: 10px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.column {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  margin-bottom: 20px;
  color: #ebdbb2;
}

.column ul {
  list-style: disc;
  padding-left: 20px;
  color: #ebdbb2;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-image: url('assets/background.png'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.main-downl-container {
  display: flex;
  flex-direction: column;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  height: 450px;
  padding: 30px;
  background-image: url('./assets/Morskie Oko.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-container {
  float: left;
  /* Абзацы слева */
  /*width: calc(100% - 250px); /* Ширина абзацев, оставляя место для кнопки */
  margin-right: 70px;
  /* Отступ от кнопки */
  box-sizing: border-box;
  /* Важно! Чтобы padding/border не выходили за ширину */
  justify-content: space-between;
  /* Размещает кнопку справа */
  align-items: flex-start;
  /* Выравнивает текст сверху */
  display: flex;
}

.intro-container>p {
  /* Стиль только для параграфов внутри .intro-container */
  max-width: 60%;
  /* Или любое другое значение, которое вам подходит */
  box-sizing: border-box;
  /* Важно: чтобы padding/border входили в ширину */
}

.download-button-container {
  float: right;
  /*width: 200px; /* Ширина контейнера с кнопкой */
}

blockquote {
  background-color: #3c3836; /* Darker gray background */
  border-left: 8px solid #b8bb26; /* Yellow-green accent */
  color: #ebdbb2; /* Light text */
  padding: 1.5em 2em;
  margin: 2em 0;
  border-radius: 5px; /* Скругленные углы */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Тень */
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.advantage-tile {
  background-color: #3c3836; /* Gruvbox Dark background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.advantage-tile h3 {
  margin-top: 0;
  color: #ebdbb2; /* Gruvbox Dark light gray */
  font-weight: bold; /* Добавим немного веса заголовку */
}

.advantage-tile p {
  color: #a89984; /* Gruvbox Dark darker gray */
  line-height: 1.5;
}

/* Дополнительный стиль для адаптации под меньшие экраны (опционально) */
@media (max-width: 768px) {
  .advantages-grid {
    grid-template-columns: 1fr;
  }
}