[Desktop Entry]
Type=Application
Name=TimeKeeper
Comment=TimeKeeper is the simplest cross-platform program for PC time tracking. It is used to periodically remind the user of the need to take breaks while working on a PC. Without WEB and AI shit.
Comment[ru]=TimeKeeper - простейшая кроссплатформенная программа для учета рабочего времени за ПК. Используется для периодического напоминания пользователю о необходимости делать перерывы во время работы на ПК. Без WEB и искусственного интеллекта.
Exec=time_keeper
Icon=time_keeper
Terminal=false
Categories=Utility;
StartupNotify=true
